
@{
    Layout = "_Layout";
    var activeId = ViewBag.ActiveProfile ?? "my-account";
}
<html>
<head>
    <title>@ViewBag.Title</title>

    @{
        var cssList = new List<string> {
            "order-history.css"
        };
        await Html.RenderPartialAsync("_Css_Js_Render", cssList);
    }

</head>
<body>
    <div class="my-profile-container">
        <!-- Left Menu -->
        <div class="profile-menu">
            <h4>My Profile</h4>
            <ul>
                <li class="btn-my-profile @MenuHelper.IsActive(activeId, "my-account")" onclick="window.location.href ='/my-account'">My Account</li>
                <li class="btn-my-profile @MenuHelper.IsActive(activeId, " my-favorite")" onclick="window.location.href ='/my-favorite'">My Favorite</li>
                <li class="btn-my-profile @MenuHelper.IsActive(activeId, "order-history")" onclick="window.location.href ='/order-history'">Order History</li>
            </ul>
        </div>

        <div class="profile-content">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <hr />

    <!-- Render JS -->
    @{
        var jsListEnd = new List<string> {
            // "my-account.js",
            "order-history.js"
        };
        await Html.RenderPartialAsync("_Css_Js_Render", jsListEnd);
    }
    <!-- END RENDER -->

</body>
</html>
